html {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 16px;
  overflow:auto;
  width      : 100%;
  height     : 100%;
}

body {
  overflow:auto;
  width      : 100%;
  height     : 100%;
  margin     : 0;
  background: #00b09b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00b09b, #96c93d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00b09b, #96c93d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
    max-width: 609px;
    max-height: 420px;
}

#main {
  transition: margin-left .5s;
  max-width: 700px;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 3px;
  border: 4px solid #008B8B;
  padding:20px;
  background-color: rgba(76, 209, 238, 0.5);
  margin-top: 20px;
}

.button, .input, #sender {
  padding: 10px;
  display: block;
  margin: 0 auto;
  position: relative;
  background-color: #20B2AA;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 16px;
  margin-top: 10px;
  width: 613px;
  border-radius: 3px;
  border: 2px solid #008B8B;
  color: #2F4F4F;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, cursor .2s ease-in-out, opacity 1.5s ease-in-out;
}

.button:hover, #sender:hover {
  background-color: #40E0D0;
  color: black;
  cursor:pointer;
}

.button {
  opacity:0;
  width: 290;
  margin: 16px;
  display: inline-block;
}

.button-visible {
  opacity:1;
}

.input {
  text-align: center;
  width:609px;
  height: 60px;
  font-size: 25px;
}

.input::placeholder {
  color: rgba(255,255,255,0.8);
}

#saved {
  position   : absolute;
  background : rgba(70,70,70,0.6);
  opacity    : 0;
  filter     : alpha(opacity=60);
  -webkit-transition: .3s; /* Safari */
  transition: .3s;
  visibility: hidden;
  z-index  : 99;
  color: #bbb;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  padding:60px;
  border-radius: 2px;
  border: 1.5px solid #777;
  font-size: 28px;
  text-align: center;
}

#overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0;
    filter     : alpha(opacity=60);
    z-index    : 98;
		-webkit-transition: .3s; /* Safari */
	  transition: .3s;
		visibility: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.slides {
    padding: 0;
    width: 609px;
    height: 0px;
    display: block;
    margin: 0 auto;
    position: relative;
    border: 2px solid #008B8B;
    border-radius: 3px;
    opacity:0;
    transition: height 1s ease, opacity 2s linear;
}

.slides-visible {
  opacity:1;
  height: 420px;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;
    background-color: rgba(255,255,255,0.3);

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 609px;
    height: 420px;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 120pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif !;
    background-color: rgba(255, 255, 255, .0);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7,
input#img-8:checked ~ .nav-dots label#img-dot-8,
input#img-9:checked ~ .nav-dots label#img-dot-9,
input#img-10:checked ~ .nav-dots label#img-dot-10 {
  background: rgba(0, 0, 0, 0.8);
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    opacity: 0.96;
    text-align: center;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#refs {
  display: block;
  top: 50%;
  transform: translate(0, -90%);
  position: relative;
}

hr {
  width:200px;
  text-align: center;
}

/* The navigation menu links */
.sidenav a {
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
